.App {
    background-color: #00b3ff;
    background-image: linear-gradient(315deg, #0026a4a8 50%, #0055ff9d 50%);
    width: 375px;
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

* {
    font-family: sans-serif;
}

.header {
    text-align: center;
    color: #fff;

}

@media screen and (max-width:420px) {
    .App {
        width: 100%;
        margin: 0;
        height: 100vh;
    }

}

.home {
    width: 100%;
    animation: homeimg 5s linear infinite;
    transition: all;
    transform-origin: left;
}

@keyframes homeimg {
    0% {
        transform: scale(103%);

    }

    50% {
        transform: scale(100%);
    }

    100% {
        transform: scale(103%);
    }

}

.sumer {
    background-color: #fbaf348c;
    background-image: linear-gradient(315deg, #fbaf34 50%, #e54c4c 50%);
}

.winter {
    background-color: #1180b78c;
    background-image: linear-gradient(312deg, #3480fb 50%, #00ffe5 50%);
}

.heading {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    box-shadow: 0px 2px 0px white;
    border-radius: 0 0 25px;
    animation: animate ease-in-out 600ms;
    transform-origin: left top;
    transition: all ease-in 500ms;

    .icon {
        color: rgb(255, 255, 255);
        font-size: x-large;
        border-radius: 5px;
        padding: 5px;
        transition: color linear 400ms;

        &:hover {
            color: #a7a7a7d6;
        }

        &:active {
            color: #616161;
        }
    }

    .h1 {
        width: 90%;
        text-align: center;
        background: linear-gradient(45deg,  #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8b00ff, #ff00ff);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

@keyframes animate {
    0% {
        transform: translate(-300px, -300px);
    }

    50% {
        transform: translate(10px 10px);
    }

    100% {
        transform: translate(0px 0px);
    }
}

.inp-div {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    transition: all 600ms;
    animation: inpdiv 600ms ease-in-out;
}

@keyframes inpdiv {
    0% {
        transform: scale(0%) translateY(-20px);
    }

    50% {
        transform: scale(50%) translateY(10px);
    }

    100% {
        transform: scale(100%) translateY(0px);
    }
}

input {
    width: 250px;
    margin-top: 10px;
    padding: 8px 16px;
    box-shadow: 0px 1px 0px #fff;
    border: none;
    outline: none !important;
    background-color: transparent;
    transition: all 400ms linear;

    &:focus {
        box-shadow: 0px 1px 10px #ffffff55;
        border-radius: 10px;
        background-color: transparent;
    }

    &:active {
        background-color: transparent;
        box-shadow: 0px 1px 0px #fff;
    }
}

.data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
}

.mood {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    transition: all 500ms;
    transition-duration: 1s;
    transform-origin: top right;
    animation: moods 600ms linear;

    p {
        font-size: 36px;
        margin: 5px 0 0 0;
        padding: 0;
        font-family: sans-serif;
        font-weight: bolder;
        color: #fff;
    }

    img {
        width: 150px;
        margin-bottom: 20px;
    }
}

@keyframes moods {
    0% {
        transform: scale(80%);
    }

    50% {
        transform: scale(120%);
    }

    100% {
        transform: scale(100%);
    }
}

.date {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    transition-delay: 0.5s;
    transform-origin: left top;
    animation: dateview ease-out 0.6s;

    .city {
        margin-top: 10px;
        font-size: 24px;
        line-height: 24px;
    }
}

@keyframes dateview {
    0% {
        transform: scale(70%) translateX(-200px);
    }

    100% {
        transform: scale(100%) translateX(0);
    }
}

.temp {
    position: absolute;
    font-size: 70px;
    top: 26%;
    font-weight: bolder;
    text-align: center;
    color: #20205c;
    right: 40%;
    font-family: sans-serif;
    transition: all ease-in 500ms;
    animation: temp 600ms;

    span {
        position: absolute;
        font-size: 18px;
        top: 10px;
    }
}

@keyframes temp {
    0% {
        transform: scale(1000%);
        opacity: 0;
    }

    50% {
        transform: scale(50%);
        opacity: 0.7;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }

}

.d-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    background-color: #011943e8;
    gap: 1px;
    width: 98%;
    border-radius: 20px 20px 0 0;
    margin-top: 20px;

    .col2 {
        width: 90%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        color: #fff;
        padding: 0 10px;
        opacity: 0.75;

        &:hover {
            opacity: 1;
        }
    }
}